/* Mission and Vision */
#mission {
    padding: 60px 0;
    background: #004a99;
}

#mission .section-header h3,
#mission .section-header p {
    color: #fff;
}

#mission .card {
    background: #00458f;
    border-color: #00458f;
    border-radius: 10px;
    margin: 0 15px;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
    height: 100%;
}

#mission .card:hover {
    background: #003b7a;
    border-color: #003b7a;
}

#mission .card i {
    font-size: 48px;
    padding-top: 15px;
    color: #bfddfe;
}

#mission .card h5 {
    font-size: 22px;
    font-weight: 600;
}

#mission .card p {
    font-size: 15px;
    color: #d8eafe;
}

#mission .card .readmore {
    color: #fff;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
    border-bottom: #00458f solid 2px;
}

#mission .card .readmore:hover {
    border-bottom: #fff solid 2px;
}

#mission .counters {
    padding-top: 40px;
}

#mission .counters span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #fff;
}

#mission .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #cce5ff;
}
